
.teammate-container {
    width: 800px;
    padding: 0 10px;
}

.step-container {
    margin-bottom: 20px;
}

.step-title {
    background-color: rgb(215, 215, 253);
    font-weight: bold;
    padding-left: 10px;
    width: 100%;
}

.add-waste-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

table {
    width: 100%;
    margin: 5px 10px;
    th {
        width: 50px;
    }

    tr:nth-child(odd) {
        background-color: rgb(229, 229, 253);
    }
}